<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/adminLayout::admin(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div class="flex justify-center items-start  space-x-6 space-y-6">
        <div class="sm:max-w-72 bg-base-100 card-sm card">
            <div>
                <div class="card-body">
                    <form th:action="@{/admin/migrate/execute}" method="post">
                        <fieldset>
                            <legend class="fieldset-legend font-[Minecraft-AE]">地址</legend>
                            <input class="input validator" required name="host" th:value="|127.0.0.1|">
                        </fieldset>
                        <fieldset>
                            <legend class="fieldset-legend font-[Minecraft-AE]">端口</legend>
                            <input class="input validator" required name="port" th:value="|3306|">
                        </fieldset>
                        <fieldset>
                            <legend class="fieldset-legend font-[Minecraft-AE]">数据库</legend>
                            <input class="input validator" required name="db" >
                        </fieldset>
                        <fieldset>
                            <legend class="fieldset-legend font-[Minecraft-AE]">用户名</legend>
                            <input class="input validator" required name="username" >
                        </fieldset>
                        <fieldset>
                            <legend class="fieldset-legend font-[Minecraft-AE]">密码</legend>
                            <input class="input validator" required type="password" name="password" >
                        </fieldset>
                        <fieldset>
                            <button class="btn btn-error w-full mt-6" type="submit">开始迁移</button>
                        </fieldset>

                    </form>
                </div>
            </div>
        </div>
        <!-- 在表单后追加 -->
        <div class="flex-1 bg-base-100 card h-full p-6">
            <figure>
                <h3>
                    迁移日志
                </h3>
            </figure>
            <div class="card-body w-full h-full">
                <iframe id="logFrame" name="logFrame" style="width:100%; height:400px;  font-family:Consolas,monospace; font-size:14px; overflow-y:scroll;"></iframe>
            </div>
        </div>

        <script>
            /* 让表单 POST 到 iframe，实时日志立即显示 */
            document.querySelector('form').target = 'logFrame';
        </script>
    </div>
</section>
</body>
</html>