<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="skinRender(id, url)">
        <img alt="render" th:id="${id}">
        <script th:inline="javascript">
            var id = /*[[${id}]]*/ ""
            var url = /*[[${url}]]*/ ""
            console.log(id,url)
            const img = document.getElementById(id)
            const getSkinPreview = async (url) => {
                const skinViewer = new skinview3d.SkinViewer({
                    width: 200,
                    height: 300,
                    renderPaused: true,

                });
                await skinViewer.loadSkin(url);
                skinViewer.camera.rotation.x = -0.62;
                skinViewer.camera.rotation.y = 0.534;
                skinViewer.camera.rotation.z = 0.348;
                skinViewer.camera.position.x = 30.5;
                skinViewer.camera.position.y = 28.0;
                skinViewer.camera.position.z = 42.0;
                skinViewer.render();
                img.src = skinViewer.canvas.toDataURL();
            }
        getSkinPreview(url)
        </script>
    </div>
</body>
</html>