<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/userCenterLayout::userCenter(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <!-- name of each tab group should be unique -->
    <div class="flex flex-wrap ">
        <script src="/js/skinview3d.bundle.js"></script>
        <div class="tabs tabs-box flex-1">
            <input type="radio" name="skin-tab" class="tab"  checked="checked"  aria-label="材质" />
            <div class="tab-content bg-base-100 border-base-300 p-6 space-y-6">
                <div class=" flex flex-wrap gap-6 w-full justify-start">
                    <div class="card w-64 bg-base-300 shadow rounded items-start "
                         th:each="item : ${skinRes.content}"
                         th:with="url=${@minioUtils.getPreviewUrl(item.skin.fileName,'skin')}"
                         th:data-url="${url}"
                         th:data-type="${item.skin.skinType}"
                         th:data-metadata="${@objectMapper.writeValueAsString(item.skin.metadata)}"
                         th:data-name="${item.skin.name}"
                         onclick="onSkinClick(this)">

                        <figure th:text="${item.skin.name}" class="w-full bg-base-200 p-4"></figure>
                        <div class="card-body p-0">
                            <div th:if="${item.skin.skinType=='skin'}"
                                 th:insert="~{components/skinLoader::skinRender(${item.id}, ${url})}">
                            </div>
                            <div th:if="${item.skin.skinType=='cape'}"
                                 th:insert="~{components/skinLoader::capeRender(${item.id}, ${url})}">
                                1
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 分页条 -->
                <div class="join flex justify-center items-center space-x-2"
                     th:with="page=${param.page==null?1:#numbers.formatInteger(param.page,1)},
              size=${param.size==null?10:#numbers.formatInteger(param.size,1)}">

                    <span class="text-sm" th:text="|共 ${skinRes.totalElements} 条 ${size} 条/页|"></span>

                    <a class="join-item btn"
                       th:classappend="${page==1} ? 'btn-disabled'"
                       th:href="@{/user/closet(page=${page - 1}, size=${size})}">
                        上一页
                    </a>
                    <button class="join-item btn btn-active" th:text="${page}"></button>
                    <a class="join-item btn"
                       th:classappend="${page==skinRes.totalPages} ? 'btn-disabled'"
                       th:href="@{/user/closet(page=${page + 1}, size=${size})}">
                        下一页
                    </a>

                    <span class="text-sm" th:text="|共 ${skinRes.totalPages} 页|"></span>
                </div>
            </div>


            <input type="radio" name="skin-tab" class="tab" aria-label="上传材质" />
            <div class="tab-content bg-base-100 border-base-300 p-6">
                <form th:action="@{/user/closet/upload}" method="post" enctype="multipart/form-data">
                    <fieldset class="fieldset w-full">
                        <legend class="fieldset-legend">名称</legend>
                        <input name="name" onchange="loadNameTag()" class="input w-full" >
                        <legend class="fieldset-legend">材质类型</legend>
                        <div class="filter">
                            <input class="btn filter-reset" name="skinType" type="radio" value="×" aria-label="x"/>
                            <input class="btn" onchange="loadModel()" type="radio" name="skinType" value="default" aria-label="史蒂夫" checked />
                            <input class="btn" onchange="loadModel()" type="radio" name="skinType" value="slim" aria-label="艾利克斯" />
                            <input class="btn" onchange="loadModel()" type="radio" name="skinType" value="cape" aria-label="披风"/>
                        </div>
                        <legend class="fieldset-legend">皮肤文件</legend>
                        <input name="skinFile" id="skinInput"
                               type="file"
                               onchange="previewSkin(this)"
                               class="file-input file-input-bordered file-input-sm w-full"
                               accept="image/png"/>

                        <p class="label">仅支持 JPG / PNG / WebP，≤ 2 MB</p>
                        <legend class="fieldset-legend">私密设置</legend>
                        <div class="filter">
                            <input class="btn filter-reset" name="status"  type="radio" value="×" aria-label="x"/>
                            <input class="btn" type="radio" name="status" value="0" aria-label="公开" checked/>
                            <input class="btn" type="radio" name="status" value="1" aria-label="私密"/>
                        </div>
                        <button type="submit" class="btn btn-success w-full mt-4">上传材质</button>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="p-6">

            <canvas id="skinViewer" width="300" height="400"></canvas>
            <input id="skin-url" type="hidden" th:value="${@minioUtils.getPreviewUrl('skin','skin')}">
            <script src="/js/skinUtils.js"></script>
            <script th:inline="javascript">
                const defaultSkinUrl = document.getElementById('skin-url').value;
                const viewer = new skinview3d.SkinViewer({
                    canvas: document.getElementById("skinViewer"),
                    width: 300,
                    height: 400,
                });
                const onSkinClick = (skin) => {
                    const url = skin.dataset.url
                    const skinType = skin.dataset.type;
                    const metadata = JSON.parse(skin.dataset.metadata);
                    viewer.nameTag = skin.dataset.name;
                    if (skinType === 'skin'){
                        viewer.loadCape(null)
                        viewer.model = metadata['model']??'default'
                        viewer.loadSkin(url)
                    } else {
                        viewer.loadSkin(defaultSkinUrl)
                        viewer.loadCape(url)
                    }
                }

                const loadSkin = () => {
                    viewer.loadSkin(document.getElementById("skin-url").value)
                }
                loadSkin()
                const loadCape = () => {

                    viewer.loadCape(document.getElementById("skin-url").value)
                }
                const loadNameTag = () => {
                    const name = document.querySelector("input[name='name']").value
                    if (name === "" || name === undefined){
                        return;
                    }
                    viewer.nameTag = name
                    loadModel()
                }
                const loadModel = () => {
                    const skinType = document.querySelector('input[name="skinType"]:checked').value
                    if (skinType === 'default' || skinType === 'slim') {
                        viewer.loadCape(null)
                        viewer.model = skinType
                        loadSkin()
                    } else if (skinType === 'cape') {
                        viewer.loadSkin(defaultSkinUrl)
                        loadCape()
                    }
                }
                function previewSkin(input) {
                    const file = input.files[0];
                    if (!file) return;
                    // 类型校验
                    const allow = ['image/jpeg', 'image/png', 'image/webp'];
                    if (!allow.includes(file.type)) {
                        alert('请上传 JPG / PNG / WebP 格式图片');
                        input.value = '';
                        return;
                    }

                    // 大小校验 2 MB
                    if (file.size > 2 * 1024 * 1024) {
                        alert('文件大小不能超过 2 MB');
                        input.value = '';
                        return;
                    }

                    // 预览
                    const url = URL.createObjectURL(file);
                    document.getElementById('skin-url').value = url;
                    loadModel()
                }
            </script>
        </div>
    </div>

</section>
</body>
</html>