<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/adminLayout::userCenter(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <script src="/js/skinview3d.bundle.js"></script>
    <div class="flex flex-wrap">
        <div class="flex-1 space-y-6">
            <div class="join flex flex-row">
                <button class="btn join-item btn-info" onclick="openCreateRoleModal()">创建角色</button>
                <input class="join-item input flex-1" placeholder="输入以搜索" oninput="filterTable(this)">
                <script>
                    function filterTable(dom) {
                        const kw = dom.value.trim().toLowerCase();
                        document.querySelectorAll('tr.profile-row').forEach(row => {
                            const txt = row.getAttribute('data-keywords');
                            row.style.display = txt.includes(kw) ? '' : 'none';
                        });
                    }
                </script>



            </div>
            <input type="checkbox" id="create-role-modal" class="modal-toggle" />
            <div class="modal" role="dialog">
                <div class="modal-box">
                    <form method="post" th:action="@{/user/gameProfile/create}">
                        <h3 class="font-bold text-lg mb-4">创建角色</h3>

                        <input name="profileName" id="roleNameInput"
                               type="text"
                               placeholder="请输入角色名"
                               class="input input-bordered w-full" />
                        <div class="modal-action">
                            <button class="btn btn-success" type="submit">确定</button>
                            <label for="create-role-modal" class="btn">取消</label>
                        </div>
                    </form>
                </div>
            </div>
            <script>
                /* 打开模态窗 */
                function openCreateRoleModal() {
                    document.getElementById('create-role-modal').checked = true;
                    document.getElementById('roleNameInput').value = '';   // 清空旧值
                    document.getElementById('roleNameInput').focus();
                }
            </script>
            <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
                <table class="table">
                    <!-- head -->
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>角色名称</th>
                        <th>上次登录时间</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    <tr class="profile-row" th:each="profile:${@gameProfileServiceImpl.getUserProfile(session.user, null)}" th:attr="data-keywords=${#strings.toLowerCase(profile.name + ' ' + profile.uuid)}">
                        <td class="truncate"
                            th:text="${profile.uuid}"
                            th:title="${profile.uuid}">
                            uuid
                        </td>

                        <td class=" truncate"
                            th:text="${profile.name}"
                            th:title="${profile.name}">
                            name
                        </td>

                        <td class="truncate"
                            th:text="${#temporals.format(profile.lastJoin, 'yyyy-MM-dd HH:mm')}"
                            th:title="${#temporals.format(profile.lastJoin, 'yyyy-MM-dd HH:mm')}">
                            lastJoin
                        </td>

                        <td class=" truncate"
                            th:text="${#temporals.format(profile.createTime, 'yyyy-MM-dd HH:mm')}"
                            th:title="${#temporals.format(profile.createTime, 'yyyy-MM-dd HH:mm')}">
                            createTime
                        </td>

                        <td class="truncate join" th:with="url=${@minioUtils.getPreviewUrl(profile.skin.fileName,'skin')}"  >
                                <button th:with="capeUrl=${(profile.cape != null && profile.cape.fileName != null ? profile.cape.fileName : '')==''?'':@minioUtils.getPreviewUrl(profile.cape.fileName,'skin')}" class="join-item btn btn-info"
                                        th:data-skin="${url}"
                                        th:data-cape="${capeUrl}"
                                        th:data-metadata="${@objectMapper.writeValueAsString(profile.skin.metadata)}"
                                        th:data-name="${profile.name}"
                                        onclick="onPreviewTextures(this)">查看皮肤</button>
                                <button class="join-item btn btn-error">删除角色</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="p-6 flex flex-col space-y-6">

            <canvas id="skinViewer" width="300" height="400"></canvas>
                <a th:href="@{/user/closet}" class="w-full">
                    <button class="flex-1 btn btn-info w-full">更换材质</button>
                </a>

            <input id="skin-url" type="hidden" th:value="${@minioUtils.getPreviewUrl('skin','skin')}">
            <script src="/js/skinUtils.js"></script>
            <script th:inline="javascript">
                const defaultSkinUrl = document.getElementById('skin-url').value;
                const viewer = new skinview3d.SkinViewer({
                    canvas: document.getElementById("skinViewer"),
                    width: 300,
                    height: 400,
                    skin: defaultSkinUrl
                });

                const onPreviewTextures = (skin) => {
                    const url = skin.dataset.skin
                    const cape = skin.dataset.cape;
                    const metadata = JSON.parse(skin.dataset.metadata);
                    viewer.nameTag = skin.dataset.name;
                    if (metadata){
                        viewer.model = metadata['model']??'default'
                    }
                    viewer.loadSkin(url)
                    if (cape!=='' && cape!==undefined) {
                        viewer.loadCape(cape)
                    }else {
                        viewer.loadCape(null)
                    }

                }
            </script>
        </div>
    </div>


</section>
</body>
</html>